# Python
__pycache__/
*.pyc

# Virtual environment
backend/venv/

# Django
db.sqlite3
.env

# VS Code
.vscode/

# Node.js
node_modules/
frontend/node_modules/
backend/node_modules/

# IDE
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Build output
dist/
build/
*.log
