/* stylelint-disable at-rule-no-unknown */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap&subset=vietnamese');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

html {
  font-family: 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
}

/* Bạn có thể viết thêm CSS tự chỉnh (custom) ở bên dưới nếu cần */